:root{
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(0, 195, 255);

}

*{
    margin: 0;
    padding: 0;
    border: border-box;
}
/* body style */
body{
    background-image: url("../images/portfolio-img.jpg");
}

/*apply style to header*/
header{
    color: var(--primary-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    flex: wrap;
    justify-content: space-between;
    display: flex;
    padding: 20px 35px;
   
    z-index: 9999;
}

header h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    } 

header h1:hover{
    color: var(--secondary-color);
}    
    
header a {
    text-decoration: none;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding:  10px 15px;
    font-weight: bolder;
    font-size: 1.55vw;
}
    
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a:hover {
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

 /* style all section tags */
 section{
     padding: 60px;
 } 
/* HERO STYLING */
.hero{
    background-attachment: fixed;
    background-image: url(../images/cool-img.jpg);
    background-size: cover;
    display: flex;
}

.image{
    width: 350px;
    height: 500px;
}
/* about section */
.about {
    font-size: 75px;
}

/* project section */
.project {
    font-size: 75px;
}

/* contact section */
.contact {
    font-size: 75px;
}